<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Liang Sun (i@liangsun.org)">
        <title>Course Analytics</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36508555-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body style="background:#eeeee8;">
        <div class="container">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">课堂分析</a>
                </div>

                    {% set navigation_bar = [
                        ('/', 'home', '首页'),
                    ] -%}
                    {% set active_page = active_page|default('home') -%}
                <div class="nav-collapse collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif
                        %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <hr />
                <p>
                本网站是<a href="https://liangsun.org" target="_blank">Liang Sun</a>为他的女朋友<a href="http://www.tanghongxiu.com" target="_blank">阿秀</a>设计制作的，原因是不忍心看着自己心爱的女朋友重复做没有必必要的体力劳动 ^ ^ 。 网站的源码在<a href="https://github.com/liangsun/course_analytics" target="_blank">GitHub</a>开源，开源的协议是MIT。
                </p>
                <p>
                Created by <a href="https://liangsun.org" target="_blank">Liang Sun</a>, 2013
                </p>
            </div>
        </footer>
    </body>
</html>
