{% extends "base.html" %}

{% block content %}
    {% if elements %}
    <h4>
        结果:
    </h4>
    <h5>
        Elements:
    </h5>
    <table class="table table-hover table-bordered">
        <tr>
            {% for e in elements %}
            <td>{{e}}</td>
            {% if loop.index is divisibleby(199) %}
            </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <h5>
        Tuples:
    </h5>
    <table class="table table-hover table-bordered">
        <tr>
            {% for a in tuples %}
            <td>{{'%s,%s' % a}}</td>
            {% if loop.index is divisibleby(199) %}
            </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <h5>
        Matrix:
    </h5>
    <table class="table table-hover table-bordered">
        <tr>
            <td>#</td>
            {% for i in range(1, 20) %}
            <td>{{i}}</td>
            {% endfor %}
        </tr>
        {% for i in range(1, 20) %}
        <tr>
            <td>{{i}}</td>
            {% for j in range(1, 20) %}
            <td>{{matrix[(i, j)]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <hr>
    {% endif %}
    <h4>
        使用方法：
    </h4>
    <ol>
        <li>
        确保xls文件里包含一个名为'源编码'的sheet, 并把所有课堂分类数据写在这个sheet 中。
        </li>
        <li>
        点击下面的按钮，提交文件，并点击上传。
        </li>
    </ol>

<form role="form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="xls_file">选择文件:</label>
        <input type="file" id="xls_file" name="xls_file" class="form-control form-inline" />
    </div>
    <button type="submit" name="submit" class="btn btn-default">提交</button>
</form>
{% endblock %}
